<!doctype html>
<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header', { active: 'bands' }) %>

    <header><h1>Bands</h1></header>

    <main>
      <% bands.forEach(band => { %>
        <a class='band-block' href='/band/<%= band.id %>' style='color: <%= band.color_light %>; background-color: <%= band.color_dark %>'><%= band.name %></a>
      <% }); %>
    </main>
  </body>
</html>
