<!doctype html>
<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header', { active: 'battles' }) %>

    <% if (locals.admin) { %>
      <header class='admin'>
        <form action='/admin/addWeek' method='post'>
          <input type='submit' value='Next week'>
        </form>
        <form action='/admin/clear' method='post'>
          <input type='submit' value='Clear all'>
        </form>
      </header>
    <% } %>

    <div class='flex'>
      <% weeks.forEach(week => { %>
        <div class='week'>
          <h1>Week <%= week.id %></h1>

          <h2><a href='/bands'>Top 10 Bands</a></h2>
          <% week.top_bands.forEach(band => { %>
            <p><%= band.rank %>. <%- include('partials/bandname', { band }) %> - <%= band.buzz %></p>
          <% }); %>

          <h2>Battles</h2>
          <% week.levels.forEach(level => { %>
            <h3>Level <%= level.level %></h3>
            <% level.battles.forEach(battle => { %>
              <h4><a href='/battle/<%= battle.id %>'>Battle #<%= battle.id %></a></h4>
              <div class='pad'>
                <% battle.entries.forEach(entry => { %>
                  <p><%- include('partials/bandname', { band: entry.band }) %></p>
                <% }); %>
              </div>
            <% }); %>
          <% }) %>
        </div>
      <% }); %>
    </div>
  </body>
</html>
