<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Blattle of the Blands</title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <header>
      <form action='/db/addWeek' method='post'>
        <input type='submit' value='Next week'>
      </form>
      <form action='/db/clear' method='post'>
        <input type='submit' value='Reset'>
      </form>
    </header>
    <div class='flex'>
      <% weeks.forEach((week, w) => { %>
        <div>
          <h1>Week <%= week.week_id %></h1>
          <div class='flex'>
            <div>
              <% week.levels.forEach((level) => { %>
                <h2>Level <%= level.level %></h2>
                <div class='flex'>
                  <div>
                    <h2>Battles</h2>
                    <% level.battles.forEach((battle, b) => { %>
                      <div class='pad'>
                        <% battle.entries.forEach((entry) => { %>
                          <p><span style='color: <%= entry.band_color %>'><%= entry.band_name %></span> - <%= entry.buzz_final %></p>
                        <% }); %>
                      </div>
                    <% }); %>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </body>
</html>
